// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* Dark theme styles */
body.dark-theme {
  background-color: #04030F;
  color: white;
}

nav.dark-theme {
  background-color: #04030F;
}

/* Other elements you wish to style for the dark theme */
.dark-theme a, .dark-theme p, .dark-theme li {
  /* Your dark theme styles for links, paragraphs, list items, etc. */
}
